/* Pagina de login y registro */
html, body {
  height: 100%;
  width: 100%;
}
.back-img{
  background-image:url("https://image.ibb.co/ct1Wio/fondo_log.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.description-tab{
  display: none;
}
.style-form{
  width:80%;
  margin: auto;
  padding-top: 150px;
}
.log-icon{
  color: rgba(255, 255, 255, 0.774);
  float:left;
  margin-right: 3%;
}
.text-label{
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.07em;
}
.text-input{
  font-weight: lighter;
  letter-spacing: 0.07em;
}
.text-input:active{
  border-bottom-color: #996600;
}
.btn-container{
  padding-top: 10%; 
}
.btn-style{
  color: #331a00;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: #FFA133;
  text-transform: capitalize; 
  border-radius: 100px;
  padding-top:5px;
  height: 45px;
  width: 50%;
  display: block;
  margin:auto;
  cursor: pointer;
}
/* Registro con google y facebook */
.text-container{
  font-size: 130%;
  list-style: none;
  letter-spacing: 0.04em;
}
.container-social-btn{
  text-align: center;
}
.btn-facebook{
 background-color: #3b5999;
 margin-right: 2%;
 cursor: pointer;
}
.btn-google{
 background-color: #dd4b39;
 margin-left: 2%;
 cursor: pointer;
}
.btn-style:hover{
  background-color: #996600;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* Pagina home */
.logo-desk{
  display: none;
}
.home{
  background-color:#FFE9C8;
}
.nav-wrapper{
  background-color: white;
  border-bottom: 0.2px solid  #d9b38c;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.nav-wrapper:hover{
  border-bottom: 1px solid  #392613;
 }
 .nav-wrapper .input-field {
  width: 45%;
}
.nav-wrapper .input-field i {
  color: #604020;
  line-height: 43px;
}
/* .input-field .prefix .indicator{
color:black; 
} */
.nav-wrapper .input-field input[type=search]{
  width: 80%;
  margin-left: 20%;
  padding-left: 0%;
  height: 3rem;
  border-bottom: 1px solid #9e9e9e;
}
.timeline-body{
  margin-top: 70px;
}
.logo{
  width: 27%;
  height: 99%;
}
.sidenav-trigger{
  display: block;
  float: left;
}
.menu-icon{
  display: block;
  float: left;
  font-size: 35px;
  color: #604020;
}
.tabs{
  background-color: #FFA133;
  margin-top: -4.5px;
}
.tabs .indicator {
  background: #392613;
} 
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: rgb(238, 142, 32);
  color: black
}
.textarea {
  width: 20%;
}
.shown{
  display: block;
}
.error-label{
  display: none;
}
i.material-icons.prefix.icon-user{
  font-size: 500%;
  line-height: 0.6;
  margin-left: 4%;
}
.container-text{
  margin-left: 25%;
  width: 70%;
}
textarea.materialize-textarea {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding-left: 5%;
  height: 55px;  
}
.post-options{
  float: right;
}
select{
  background-color: transparent;
  width: 18%;
  border: 0px
}
/* menu desplegable */
.user-pic{
  background-repeat: no-repeat;
  background-size: 100%; 
}
@media screen and (min-width:768px){
.back-img{
  background-image: none;
  height: 100%;
}

.container-register{
  height: 100%;
  width: 100%;
  display:inline-flex;
}
.description-tab{
 
  display:inline-flex;
  /* float: left; */
   width: 70%;
   /* height: 100%; */

   background-image:url("https://preview.ibb.co/doWzMK/portada2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   /* height: 100%; */
   min-height: 100vh;
 }
 .texto{
   float: right;
   border: 2px solid rgba(207, 198, 73, 0.863);
   background-color: rgba(207, 198, 73, 0.863);
   opacity: 0.6;
   border-radius: 7%;
   padding: 0.2em 0.2em;
   text-align: center;
   margin-top: 400px;
   margin-right: 150px;
 }
.container-form{
  flex:1;
  /* float: right; */
  width: 30%;
  height: 662px;
  /* margin-right: 0%; */
  /* margin-top: -3px; */
  box-shadow: inset 3px 5px 20px 5px #915933;
}
.style-form{
  width:70%;
  margin-top: -150px;
}
.text-label{
  color: #331a00;
  
}
.text-input{
  color: #331a00;
}
.btn-style{
  font-weight: normal;
  width: 80%;
  cursor: pointer;
}
.text-container{
    color: #331a00;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
  }
.log-icon{
    color: #7c6043;
    float:left;
    margin-right: 3%;
  }
.logo-desk{
  display: block;
  margin-bottom: 20%;
  margin-top: 65px;
  margin-left: 20%;
  width: 60%;
}
}
@media (min-width:1020px){
  .back-img{
    background-image: none;
  }
  .description-tab{
   /* display:inline-block; */
   display:inline-flex;
   float: left;
    width: 70%;
    /* height: 100%; */
    
    background-image:url("https://preview.ibb.co/doWzMK/portada2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .container-register{
    height: 100%;
    width: 100%;
    display:inline-flex;
  }
  .container-form{
    float: right;
    width: 30%;
    height: 700px;
    /* margin-right: 0%; */
    /* margin-top: -3px; */
    box-shadow: inset 3px 5px 20px 5px #915933;
  }
  .style-form{
    width:60%;
    margin: auto;
    padding-top: 100px;
    margin-top: -150px;
  }
}