/* Pagina de login y registro */
.back-img{
  background-image:url("https://image.ibb.co/ct1Wio/fondo_log.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.description-tab{
  display: none;
}
.style-form{
  width:80%;
  margin: auto;
  padding-top: 60%;
}
.log-icon{
  color: rgba(255, 255, 255, 0.774);
  float:left;
  margin-right: 3%;
}
.text-label{
  font-size: 13px;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.07em;
}
.text-input{
  color: white;
  font-weight: lighter;
  letter-spacing: 0.07em;
}
.text-input:focus{
  border-bottom-color: #996600;
}
.btn-container{
  padding-top: 10%; 

}
.btn-style{
  color: #331a00;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: #FFA133;
  text-transform: capitalize; 
  border-radius: 100px;
  padding-top:5px;
  height: 45px;
  width: 50%;
  display: block;
  margin:auto;
  cursor: pointer;
}
/* Registro con google y facebook */
.text-container{
  color: white;
  text-decoration: underline;
  font-size: 130%;
  padding-top: 5%;
  text-align: center;
  list-style: none;
  letter-spacing: 0.04em;
}
.container-social-btn{
  padding-top: 8%;
  text-align: center;
}
.btn-facebook{
 background-color: #3b5999;
 margin-right: 2%;
 cursor: pointer;
}
.btn-google{
 background-color: #dd4b39;
 margin-left: 2%;
 cursor: pointer;
}
.btn-style:hover{
  background-color: #996600;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* Pagina home */
.home{
  background-color:#FFE9C8;
}
.container-logo{
  background-color: white;
  border-bottom: 0.2px solid  #d9b38c;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
 display:inline-flex;
}
 .container-logo:hover{
  border-bottom: 1px solid  #392613;
 }
.container-logo .input-field {
  width: 80%;
}
.container-logo .input-field i {
  color: rgb(175, 15, 42);
  line-height: 43px;
}
.input-field input[type=search]{
  width: 87%;
  margin-left: 23%;
}

.logo{
  width: 27%;
  height: 99%;
  margin-left: 15%
}

.sidenav-trigger{
  display: block;
  float: left;
}
.menu-icon{
  display: block;
  float: left;
  font-size: 35px;
  color: #604020;
}
.textarea {
  width: 20%;
}
.shown{
  display: block;
}
.error-label{
  display: none;
}
i.material-icons.prefix.icon-user{
  font-size: 500%;
  line-height: 0.6;
  margin-left: 4%;
}
.container-text{
  margin-left: 25%;
  width: 70%;
}
textarea.materialize-textarea {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding-left: 5%;
  height: 55px;  
}
.post-options{
  float: right;
}
select{
  background-color: transparent;
  width: 18%;
  border: 0px
}
/* menu desplegable */
.user-pic{
  background-repeat: no-repeat;
  background-size: 100%; 
}
@media (min-width:768px){
  .back-img{
    background-image: none;
  }
.description-tab{
 display:inline-block;
  width: 70%;
  height: 100%;
  background-image:url("https://preview.ibb.co/doWzMK/portada2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.texto{
  height:100%
}
.container-form{
  float: right;
  width: 30%;
  margin-right: 0%;
  margin-top: -60px;
}
.style-form{
  width:60%;
  margin: auto;
  padding-top: 100px;
  margin-top: -180px;
}
.text-label{
  color: #331a00;
  
}
.text-input{
  color: #331a00;
}
.btn-style{
  font-weight: normal;
  width: 80%;
  cursor: pointer;
}
.text-container{
    color: #331a00;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
  }
.log-icon{
    color: #7c6043;
    float:left;
    margin-right: 3%;
  }
.logo-desk{
  margin-bottom: 20%;
  margin-top: 65px;
  margin-left: 110px;
  width: 200px;
}
}

